<app-navbar></app-navbar>
<section class="reset-password-container">
    <div class="reset-password-box">
        <div class="reset-password-card">
            <a [routerLink]="['/profile-settings', 'userID']"><img src="assets/images/arrow_back.svg" alt="Back Navigation Arrow" /></a>
        <div class="card-text">
            <h3>Change Password</h3>
        </div>
        </div>
    </div>
    <form class="form-container">
        <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password" id="currentPassword" name="currentPassword" placeholder="Enter Current Password"  required>
        </div>
        <div class="form-group">
            <label for="currentPassword">New Password</label>
            <input type="password" id="currentPassword" name="currentPassword" placeholder="Enter New Password"  required>
        </div>
        <div class="form-group">
            <label for="Password">New Password</label>
            <input type="password" id="Password" name="Password" placeholder="Confrim New Password"  required>
        </div>
        <div>
            <a><p>Cancel</p></a>
            <a><button>Submit</button></a>
        </div>
    </form>    
</section>