.reset-password-container{
    display: grid;
    justify-content: center;
    margin-top: 20px;
  }

  .reset-password-box{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 10px #0000001A;
  }
  
  .reset-password-card{
    display: flex;
    align-items: center;
    width: 648px;
    padding: 10px;
  
  }

  .form-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 10px #0000001A;
  }

  .form-group {
    position: relative;
    margin: 20px 20px;
  }

  .form-group input{
    position: relative;
    padding: 20px;
  }

  
  label {
    position: absolute;
    top: -10px; /* Adjust to move the label to the borderline */
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    color: #000000BC;
    z-index: 1;
  }

  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #0000001F;
    border-radius: 4px;
  }

  button {
    background-color: #0a3990;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }