<app-navbar></app-navbar>
<section class="notifications-container">
    <div class="notification-box">
        <div class="notifications-card">
            <a [routerLink]="['/profile-settings', 'userID']"><img src="assets/images/arrow_back.svg" alt="Back Navigation Arrow" /></a>
        <div class="card-text">
            <h3>Notifications settings</h3>
        </div>
        </div>
        <div class="notifications-card">
            <img src="assets/images/trip-origin.svg" alt="" />
            <div class="card-text">
                <h4>Notification title text</h4>
                <p>Notification related description text</p>
            </div>
            <div class="toggle-container" (click)="toggleSwitch()">
                <div [ngClass]="{'toggle-switch': true, 'active': isSwitchOn}">
                <div class="slider"></div>
                </div>
            </div>
        </div>
        <div class="notifications-card">
            <img src="assets/images/trip-origin.svg" alt="" />
            <div class="card-text">
                <h4>Notification title text</h4>
                <p>Notification related description text</p>
            </div>
            <div class="toggle-container" (click)="toggleSwitch()">
                <div [ngClass]="{'toggle-switch': true, 'active': isSwitchOn}">
                <div class="slider"></div>
                </div>
            </div>
        </div>
        <div class="notifications-card">
            <img src="assets/images/trip-origin.svg" alt="" />
            <div class="card-text">
                <h4>Notification title text</h4>
                <p>Notification related description text</p>
            </div>
            <div class="toggle-container" (click)="toggleSwitch()">
                <div [ngClass]="{'toggle-switch': true, 'active': isSwitchOn}">
                <div class="slider"></div>
                </div>
            </div>
        </div>
        <div class="notifications-card">
            <img src="assets/images/trip-origin.svg" alt="" />
            <div class="card-text">
                <h4>Notification title text</h4>
                <p>Notification related description text</p>
            </div>
            <div class="toggle-container" (click)="toggleSwitch()">
                <div [ngClass]="{'toggle-switch': true, 'active': isSwitchOn}">
                <div class="slider"></div>
                </div>
            </div>
        </div>
        <div class="notifications-card">
            <img src="assets/images/trip-origin.svg" alt="" />
            <div class="card-text">
                <h4>Notification title text</h4>
                <p>Notification related description text</p>
            </div>
            <div class="toggle-container" (click)="toggleSwitch()">
                <div [ngClass]="{'toggle-switch': true, 'active': isSwitchOn}">
                <div class="slider"></div>
                </div>
            </div>
        </div>
        <div class="notifications-card">
            <img src="assets/images/trip-origin.svg" alt="" />
            <div class="card-text">
                <h4>Notification title text</h4>
                <p>Notification related description text</p>
            </div>
            <div class="toggle-container" (click)="toggleSwitch()">
                <div [ngClass]="{'toggle-switch': true, 'active': isSwitchOn}">
                <div class="slider"></div>
                </div>
            </div>
        </div>
    </div>
    
</section>