<app-navbar></app-navbar>
    <section class="call-log">
            <div class="logs-card">
                <img src="assets/images/calllog.png" alt="" />
                    <div class="log-text">
                    <p>Attended Calls</p>
                    <p>23</p>
                    </div>
            </div>
            <div class="second_logs_card">
                <img src="assets/images/calllog.png" alt="" />
                <div class="log-text">
                <p>Succeeded Calls</p>
                <p>23</p>
                </div>
            </div>
            <div class="logs-card">
                <img src="" alt="" />
                <div class="log-text">
                <p>Cancelled Calls</p>
                <p>23</p>
                </div>
            </div>
            <div class="logs-card">
                <img src="" alt="" />
                <div class="log-text">
                <p>Scheduled Calls</p>
                <p>23</p>
                </div>
            </div>
    </section>
    <section>
        <h3>Calls</h3>
        <div class="container">
            <div class="grid-table">
                <div class="grid-row">
                    <div class="grid-cell"> row 1</div>
                    <div class="grid-cell"> row 2</div>
                    <div class="grid-cell"> row 3</div>
                    <div class="grid-cell"> row 4</div>
                    <div class="grid-cell"> row 5</div>
                    <div class="grid-cell"> row 6</div>
                    <div class="grid-cell"> row 7</div>
                    <div class="grid-cell"> row 8</div>
                    <div class="grid-cell"> row 9</div>
                    <div class="grid-cell"> row 10</div>
                </div>
                <div class="grid-row">
                    <div class="grid-cell"> Column 1</div>
                    <div class="grid-cell"> Column 2</div>
                    <div class="grid-cell"> Column 3</div>
                    <div class="grid-cell"> Column 4</div>
                    <div class="grid-cell"> Column 5</div>
                    <div class="grid-cell"> Column 6</div>
                    <div class="grid-cell"> Column 7</div>
                    <div class="grid-cell"> Column 8</div>
                    <div class="grid-cell"> Column 9</div>
                    <div class="grid-cell"> Column 10</div>
                </div>
                <div class="grid-row">
                    <div class="grid-cell"> Column 1</div>
                    <div class="grid-cell"> Column 2</div>
                    <div class="grid-cell"> Column 3</div>
                    <div class="grid-cell"> Column 4</div>
                    <div class="grid-cell"> Column 5</div>
                    <div class="grid-cell"> Column 6</div>
                    <div class="grid-cell"> Column 7</div>
                    <div class="grid-cell"> Column 8</div>
                    <div class="grid-cell"> Column 9</div>
                    <div class="grid-cell"> Column 10</div>
                </div>
                <div class="grid-row">
                    <div class="grid-cell"> Column 1</div>
                    <div class="grid-cell"> Column 2</div>
                    <div class="grid-cell"> Column 3</div>
                    <div class="grid-cell"> Column 4</div>
                    <div class="grid-cell"> Column 5</div>
                    <div class="grid-cell"> Column 6</div>
                    <div class="grid-cell"> Column 7</div>
                    <div class="grid-cell"> Column 8</div>
                    <div class="grid-cell"> Column 9</div>
                    <div class="grid-cell"> Column 10</div>
                </div>
            </div>
        </div>
        
        
        
    </section>