<app-navbar></app-navbar>
    <section class="call-log">
            <div class="logs-card">
                <img src="assets/images/calllog.png" alt="" />
                    <div class="log-text">
                    <p>Attended Calls</p>
                    <p>23</p>
                    </div>
            </div>
            <div class="second_logs_card">
                <img src="assets/images/in-call.png" alt="" />
                <div class="log-text">
                <p>Succeeded Calls</p>
                <p>21</p>
                </div>
            </div>
            <div class="third_logs_card">
                <img src="assets/images/missed.png" alt="" />
                <div class="log-text">
                <p>Cancelled Calls</p>
                <p>02</p>
                </div>
            </div>
            <div class="fourth-logs_card">
                <img src="assets/images/schedule.png" alt="" />
                <div class="log-text">
                <p>Scheduled Calls</p>
                <p>07</p>
                </div>
            </div>
    </section>

        <div class="grid-section">
            <h3>Calls</h3>
            <div class="container">
                <div class="grid-table">
                    <div class="grid-row">
                            <div class="grid-cell"> <p>#Call Id</p></div>
                            <div class="grid-cell"> <p>Patient</p></div>
                            <div class="grid-cell"><p>Disease</p></div>
                            <div class="grid-cell"> <p>Date</p></div>
                            <div class="grid-cell"> <p>Call Status</p></div>
                            <div class="grid-cell"><p>Duration</p> </div>
                            <div class="grid-cell"><p>Attachments</p></div>
                        </div>
                        <!-- render call data -->
                        <app-call-log-grid [data]="gridData"></app-call-log-grid>
                </div>
            </div>
    
        </div>
