<app-navbar></app-navbar>
<section class="profile-settings">
    <div class="profile-card-bio item-border">
        <div class="profile-info">
            <img src="assets/images/avatarBig.png" alt="User profile avatar" class="profile-avatar"/>
            <div class="profile-card-content">
                <h3>Dr John Doe</h3>
                <p> +234 9938 999 000</p>
                <p>johndoe@dokta.com</p>
            </div>
        </div>
        <a [routerLink]="['/edit-profile', 'userID']"><img src="assets/images/edit_note.png" alt="edit profile icon" class="profile-edit-icon"/></a>
    </div>
    <div class="setting-card">
        <h2>Account Settings</h2>
    </div>
    <div class="setting-items item-border-middle">
        <img src="assets/images/notification-small.png" alt="" />
       <div class="item-container">
        <p>Manage</p>
        <h3>Notification</h3>
       </div>
        <img src="assets/images/setting.png" alt="edit notification gear icon " />
    </div>
    <div class="setting-items item-border-end">
        <img src="assets/images/call.png" alt="" />

            <div class="item-container">
                <p>Manage</p>
                <h3>Calls settings</h3>
            </div>
            <img src="assets/images/setting.png" alt="edit notification gear icon " />
    </div>

    <div class="setting-card">
        <h2>Security</h2>
    </div>
    <div class="setting-items item-border-end">
        <img src="assets/images/verified-user.png" alt="" />
        <div class="item-container">
            <h3>Change Password</h3>
        </div>
        <img src="assets/images/setting.png" alt="edit notification gear icon " />
    </div>
</section>

