.profile-settings {
    display: grid;
    justify-content: center;
   
  }

  .profile-card-bio{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 648px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    
  }

  .profile-avatar{
    width: 86px; 
    height: 86px; 
    border-radius: 50%; 
  }

  .profile-card-content{
    /* margin-right: auto; method a to extend icon to the right*/
    margin-left: 10px;
    /* flex: 1;   method b to extend icon to the right*/
  }

  .profile-info {
    display: flex;
    align-items: center;
  }

  .profile-edit-icon{
    margin-left: 10px;
    width: 24px;
    height: 28px ;
  }
  


  .setting-card{
    align-items: center;
    padding: 10px 20px;
    width: 648px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); 
    border-radius: 12px 12px 0px 0px;
    margin-top: 20px;
  }

  .setting-items{
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 10px;
  }

  .item-container{
    margin-right: auto;
    margin-left: 10px;
  }

  .item-container p{
    color: #30C076;
    font: 300 10px/7px 'HelveticaNeue', sans-serif
  }

  .item-container h3{
    font: 500 18px/16px 'HelveticaNeue', sans-serif
  }

  .grid-section{
    align-items: center;
    justify-items: flex-start;
  }

  .item-border{
    border: 0.5px solid #DBE5F5;
    border-radius: 12px;
    opacity: 1;
  }

  .item-border-middle{
    border: 0.5px solid #DBE5F5;
    opacity: 1;
  }

  .item-border-end{
    border: 0.5px solid #DBE5F5;
    opacity: 1;
    border-radius: 0px 0px 12px 12px;
    margin-bottom: 20px;
  }

  @media (max-width: 600px) {
    .setting-items {
      flex-direction: column;
      align-items: flex-start;
    }
}



