<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="nav-logo">
            <li><img src="" alt="Dokta Logo"/></li>
        </ul>
        <ul class="nav-links">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Call Logs</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#"><img src="" alt="settings icon"/></a></li>
          <li><a href="#"><img src="" alt="Notification icon"/></a></li>
          <li class="dropdown">
            <a href="#" class="dropbtn"><img src="" alt="User Profile icon"/></a>
            <div class="dropdown-content">
              <a href="#">Service 1</a>
              <a href="#">Service 2</a>
              <a href="#">Service 3</a>
            </div>
          </li>
        </ul>
      </nav>
      