<section class="login-form" ng-app="">
  <div class="frame">
    <div class="top-box">
      <div class="brand-logo">
        <img src="assets/images/logo.png" alt="Brand Logo" />
      </div>
    
      <h3>Sign In</h3>
      <h6>Telemedicine Center</h6>
    </div>
  
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <label for="email">Email id</label>
      <input 
      type="email" name="email" 
      id="email" placeholder="Enter Email id" 
      autocomplete="email"  [(ngModel)]="loginData.email"
      (ngModelChange)="loginData.email = $event"
      required=""/>
      <div *ngIf="loginForm.controls['email'] && loginForm.controls['email'].touched && loginForm.controls['email'].hasError('required')">
        Email is required.
      </div>
      

      <label for="password">Password</label>
      <input 
      type="password" name="password" 
      id="password" placeholder="Password" 
      autocomplete="current-password"  
      [(ngModel)]="loginData.password"
      required/>
      <div *ngIf="loginForm.controls['password'] && loginForm.controls['password'].touched && loginForm.controls['password'].hasError('required')">
        Password is required.
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Submit</button>
      <p> Can't remember password ? <a href="">Forgot Password</a></p>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  </section>