/* bamckgound card :start */

.frame{
    background-color: white;
    border: 2px solid transparent;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* login form stylin :start */
.login-form{
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
    margin-top: 200px;
}

.login-form p{
    display: block;
    text-align: center;
    font: 300 13px/16px 'HelveticaNeue', sans-serif
}

.login-form a{
    text-decoration: none;
    color: rgb(85, 193, 90);
}

.login-form label{
    display: block;
    margin-top: 10px;
    color: #A6A6A6;
    font: 300 12px/15px 'HelveticaNeue', sans-serif
}

.login-form button{
    display: block;
    width: 95%;
    padding: 14px 0;
    margin-top: 5px;
    border-radius: 5px; 
    border: none;
    background-color:#0E2689;
    color: white;
    font: 500 14px/17px 'HelveticaNeue', sans-serif;
    margin-left: 10px; 
}

.login-form button:disabled{
    background-color: #ADBDFF;
}
/* .login-form button:hover{
    top: 584px;
    left: 492px;
    width: 156px;
    height: 46px;
    opacity: 1;
} */

.login-form input, .login-form textarea, .login-form select{
    border: none;
    width: 100%;
    padding: 6px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #A6A6A6; 
    display: block;
    outline: none;
    font: 300 15px/18px 'HelveticaNeue', sans-serif
}
/* login form stylin :end */

/* logo & headers stylin :start */
.top-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{

    margin-top: 30px; 
    margin-bottom: 1px;
    font: 500 25px/1.5 'HelveticaNeue', sans-serif;
}

h6{
    margin-bottom: 4px; 
    margin-top: 1px;
    font: 500 14px/17px 'HelveticaNeue', sans-serif
  }
  
/* circleLogo styling start */
.brand-logo{
    width: 128px; 
    height: 128px;
    overflow: hidden; 
    /* logo posiotion */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.brand-logo img{
    width: 100%; 
  height: 100%; 
  max-width: 100%;
  object-fit: contain;
}
/* logo & headers stylin :end */