.notifications-container{
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.notification-box{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 10px #0000001A;
}

.notifications-card{
  display: flex;
  align-items: center;
  width: 648px;
  padding: 10px;

}

.card-text{
  padding-left: 10px;
  flex-direction: column;
  flex: 1;
}
